<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sd.issue.mybatis.PersonMapper">
	
	<cache type="org.mybatis.caches.ehcache.EhcacheCache" />
	<!-- <cache /> -->
	
	
	<resultMap type="Person" id="personMap">
		<id property="id" column="id" />
		<result property="firstName" column="first_name" />
		<result property="lastName" column="last_name" />
	</resultMap>
	

    <select id="get" parameterType="int" resultMap="personMap">
    	SELECT id, first_name, last_name FROM person WHERE id=#{id}
    </select>
    
</mapper>